# Data Engineering

We have many files contaning information from Moscow's air quality monitoring stations such as concentration of CO, N, NO2, PM10, PM25, temperature, pressure, humidity, precipitation, temperature at different heights from Ostankino tower("profilemer"). So a goal of this part is to prepare data for analisys and machine learning.

In [ ]:
#import libraries and data
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os
import glob
import folium
from folium import Marker

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [ ]:
stations = pd.read_csv('/content/gdrive/MyDrive/Colab Notebooks/Moscow_contest/02_координаты_станций.csv',
                       names=['name', 'latitude', 'longitude'], delimiter=';')
stations['eng_name'] = ['Academic Anokhin St.', 'Butlerov St.', 'Glebovskaya St.',
                        'Koptevskiy Blvd.', 'Maryino Dct.', 'Ostankino', 'Proletarskiy Prospect', 
                        'Spiridonovka St.', 'Turistskaya St.', 'Shabolovka St.']

stations.to_csv('stations.csv')
stations

                     name   latitude  longitude               eng_name
0       Академика Анохина  55.658163  37.471434   Academic Anokhin St.
1              Бутлерова   55.649412  37.535874           Butlerov St.
2             Глебовская   55.811801  37.712490        Glebovskaya St.
3         Коптевский бул   55.833222  37.525158       Koptevskiy Blvd.
4                 Марьино  55.652695  37.751502           Maryino Dct.
5              Останкино   55.821154  37.612592              Ostankino
6  Пролетарский проспект   55.635129  37.658684  Proletarskiy Prospect
7            Спиридоновка  55.759354  37.595584       Spiridonovka St.
8             Туристская   55.856324  37.426628        Turistskaya St.
9              Шаболовка   55.715698  37.605238         Shabolovka St.

In [ ]:
#check stations on the map
map = folium.Map(location=[55.82, 37.525], tiles='openstreetmap', zoom_start=10)

for idx, row in stations.iterrows():
    Marker([row['latitude'], row['longitude']],tooltip=row['eng_name']).add_to(map)

map.save('map.html')
map

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
#read files contaning CO, N, NO2, PM10, PM25, temperature, pressure, humidity, precipitation from Moscow's air quality monitoring stations
anoh = pd.read_excel('/content/drive/MyDrive/Colab Notebooks/Moscow_contest/Академика Анохина 2020.xlsx')
anoh.describe()

                 CO           NO2  ...     Влажность        Осадки
count  24097.000000  25428.000000  ...  25184.000000  25515.000000
mean       0.150952      0.026367  ...     71.498396      0.018295
std        0.187245      0.014231  ...     17.325807      0.181969
min        0.000000      0.002000  ...     14.000000      0.000000
25%        0.000000      0.015200  ...     59.900000      0.000000
50%        0.100000      0.024700  ...     73.000000      0.000000
75%        0.200000      0.034700  ...     86.400000      0.000000
max        5.000000      0.200000  ...    105.000000     12.400000

[8 rows x 10 columns]

In [ ]:
anoh.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26354 entries, 0 to 26353
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Дата и время  26353 non-null  object
 1   CO            24097 non-null  float64
 2   NO2           25428 non-null  float64
 3   NO            25430 non-null  float64
 4   PM2.5         12777 non-null  float64
 5   -T-           25184 non-null  float64
 6   | V |         25397 non-null  float64
 7   _V_           25397 non-null  float64
 8   Давление      25397 non-null  float64
 9   Влажность     25184 non-null  float64
 10  Осадки        25515 non-null  float64
dtypes: float64(10), object(1)
memory usage: 2.2+ MB

In [ ]:
but = pd.read_excel('/content/drive/MyDrive/Colab Notebooks/Moscow_contest/Бутлерова 2020.xlsx')
but.head()

       Дата и время   CO  NO2   NO  ...    _V_  Давление  Влажность  Осадки
0               NaN  5.0  0.2  0.4  ...    NaN       NaN        NaN     NaN
1  01/01/2020 00:00  0.1  NaN  NaN  ...  231.0     730.5       80.0     0.0
2  01/01/2020 00:20  0.1  NaN  NaN  ...  214.0     730.6       79.0     0.0
3  01/01/2020 00:40  0.1  NaN  NaN  ...  232.0     730.7       79.0     0.0
4  01/01/2020 01:00  0.1  NaN  NaN  ...  191.0     730.8       78.0     0.0

[5 rows x 12 columns]

In [ ]:
but.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26354 entries, 0 to 26353
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Дата и время  26353 non-null  object
 1   CO            23415 non-null  float64
 2   NO2           22345 non-null  float64
 3   NO            22346 non-null  float64
 4   PM10          207 non-null    float64
 5   PM2.5         12243 non-null  float64
 6   -T-           25494 non-null  float64
 7   | V |         25494 non-null  float64
 8   _V_           25494 non-null  float64
 9   Давление      25494 non-null  float64
 10  Влажность     25494 non-null  float64
 11  Осадки        25491 non-null  float64
dtypes: float64(11), object(1)
memory usage: 2.4+ MB

In [ ]:
gleb = pd.read_excel('/content/drive/MyDrive/Colab Notebooks/Moscow_contest/Глебовская 2020 год.xlsx')
gleb.head()

         Дата и время    CO     NO2     NO  ...  _V_  Давление  Влажность  Осадки
0                 NaT  5.00  0.2000  0.400  ...  NaN       NaN        NaN     NaN
1 2020-01-01 00:00:00  0.04  0.0203  0.001  ...  NaN       NaN        NaN     NaN
2 2020-01-01 00:20:00  0.04  0.0200  0.001  ...  NaN       NaN        NaN     NaN
3 2020-01-01 00:40:00  0.07  0.0195  0.002  ...  NaN       NaN        NaN     NaN
4 2020-01-01 01:00:00  0.10  0.0185  0.001  ...  NaN       NaN        NaN     NaN

[5 rows x 13 columns]

In [ ]:
gleb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26353 entries, 0 to 26352
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Дата и время  26352 non-null  datetime64[ns]
 1   CO            24673 non-null  float64
 2   NO2           22214 non-null  float64
 3   NO            23616 non-null  float64
 4   PM10          22594 non-null  float64
 5   PM25          22588 non-null  float64
 6   Unnamed: 6    0 non-null      float64
 7   -T-           7493 non-null   float64
 8   | V |         7493 non-null   float64
 9   _V_           7493 non-null   float64
 10  Давление      7562 non-null   float64
 11  Влажность     7493 non-null   float64
 12  Осадки        7493 non-null   float64
dtypes: datetime64[ns](1), float64(12)
memory usage: 2.6 MB

In [ ]:
kopt = pd.read_excel('/content/drive/MyDrive/Colab Notebooks/Moscow_contest/Коптевский бул. 2020 год.xlsx')
kopt.head()

         Дата и время   CO    NO2     NO  ...  _V_  Давление  Влажность  Осадки
0                 NaT  5.0  0.200  0.400  ...  NaN       NaN        NaN     NaN
1 2020-01-01 00:00:00  0.1  0.014  0.000  ...  NaN       NaN        NaN     NaN
2 2020-01-01 00:20:00  0.1  0.011  0.000  ...  NaN       NaN        NaN     NaN
3 2020-01-01 00:40:00  0.1  0.009  0.000  ...  NaN       NaN        NaN     NaN
4 2020-01-01 01:00:00  0.1  0.011  0.001  ...  NaN       NaN        NaN     NaN

[5 rows x 13 columns]

In [ ]:
kopt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26353 entries, 0 to 26352
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Дата и время  26352 non-null  datetime64[ns]
 1   CO            24687 non-null  float64
 2   NO2           25163 non-null  float64
 3   NO            25163 non-null  float64
 4   PM2.5         13143 non-null  float64
 5   Unnamed: 5    0 non-null      float64
 6   Unnamed: 6    0 non-null      float64
 7   -T-           13321 non-null  float64
 8   | V |         13321 non-null  float64
 9   _V_           13321 non-null  float64
 10  Давление      13321 non-null  float64
 11  Влажность     13159 non-null  float64
 12  Осадки        13321 non-null  float64
dtypes: datetime64[ns](1), float64(12)
memory usage: 2.6 MB

In [ ]:
mar = pd.read_excel('/content/drive/MyDrive/Colab Notebooks/Moscow_contest/Марьино 2020.xlsx')
mar.head()

       Дата и время   CO     NO2     NO  ...    _V_  Давление  Влажность  Осадки
0               NaN  5.0  0.2000  0.400  ...    NaN       NaN        NaN     NaN
1  01/01/2020 00:00  0.1  0.0244  0.001  ...  359.0     735.2       82.7     0.0
2  01/01/2020 00:20  0.1  0.0232  0.001  ...  359.0     735.3       82.0     0.0
3  01/01/2020 00:40  0.1  0.0200  0.001  ...  194.0     735.4       81.4     0.0
4  01/01/2020 01:00  0.1  0.0170  0.001  ...  292.0     735.5       80.6     0.0

[5 rows x 11 columns]

In [ ]:
mar.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26354 entries, 0 to 26353
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Дата и время  26353 non-null  object
 1   CO            25960 non-null  float64
 2   NO2           25967 non-null  float64
 3   NO            25967 non-null  float64
 4   PM10          25434 non-null  float64
 5   -T-           25254 non-null  float64
 6   | V |         25254 non-null  float64
 7   _V_           25254 non-null  float64
 8   Давление      25254 non-null  float64
 9   Влажность     25254 non-null  float64
 10  Осадки        25264 non-null  float64
dtypes: float64(10), object(1)
memory usage: 2.2+ MB

In [ ]:
ost = pd.read_excel('/content/drive/MyDrive/Colab Notebooks/Moscow_contest/Останкино 0 2020 год.xlsx')
ost.head()

         Дата и время   CO    NO2     NO  ...    _V_  Давление  Влажность  Осадки
0                 NaT  5.0  0.200  0.400  ...    NaN       NaN        NaN     NaN
1 2020-01-01 00:00:00  0.1  0.008  0.004  ...  271.0     731.9       86.0     0.0
2 2020-01-01 00:20:00  0.1  0.006  0.003  ...  272.0     731.9       86.0     0.0
3 2020-01-01 00:40:00  0.1  0.007  0.003  ...  261.0     732.0       85.0     0.0
4 2020-01-01 01:00:00  0.1  0.005  0.002  ...  280.0     732.2       85.0     0.0

[5 rows x 13 columns]

In [ ]:
ost.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26353 entries, 0 to 26352
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Дата и время  26352 non-null  datetime64[ns]
 1   CO            25571 non-null  float64
 2   NO2           22877 non-null  float64
 3   NO            22875 non-null  float64
 4   PM10          19903 non-null  float64
 5   PM2.5         11855 non-null  float64
 6   Unnamed: 6    0 non-null      float64
 7   -T-           25502 non-null  float64
 8   | V |         25502 non-null  float64
 9   _V_           25501 non-null  float64
 10  Давление      25502 non-null  float64
 11  Влажность     25502 non-null  float64
 12  Осадки        25502 non-null  float64
dtypes: datetime64[ns](1), float64(12)
memory usage: 2.6 MB

In [ ]:
prol = pd.read_excel('/content/drive/MyDrive/Colab Notebooks/Moscow_contest/Пролетарский проспект 2020.xlsx')
prol.head()

       Дата и время    CO     NO2     NO  ...    _V_  Давление  Влажность  Осадки
0               NaN  5.00  0.2000  0.400  ...    NaN       NaN        NaN     NaN
1  01/01/2020 00:00  0.17  0.0086  0.008  ...  214.0     731.4       87.4     0.0
2  01/01/2020 00:20  0.15  0.0047  0.007  ...  167.0     731.6       86.6     0.0
3  01/01/2020 00:40  0.14  0.0050  0.007  ...  199.0     731.6       85.9     0.0
4  01/01/2020 01:00  0.13  0.0044  0.007  ...  144.0     731.7       85.0     0.0

[5 rows x 12 columns]

In [ ]:
prol.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26354 entries, 0 to 26353
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Дата и время  26353 non-null  object
 1   CO            25460 non-null  float64
 2   NO2           24444 non-null  float64
 3   NO            24447 non-null  float64
 4   PM10          24911 non-null  float64
 5   PM2.5         24831 non-null  float64
 6   -T-           24794 non-null  float64
 7   | V |         24794 non-null  float64
 8   _V_           24796 non-null  float64
 9   Давление      24794 non-null  float64
 10  Влажность     24794 non-null  float64
 11  Осадки        24810 non-null  float64
dtypes: float64(11), object(1)
memory usage: 2.4+ MB

In [ ]:
spir = pd.read_excel('/content/drive/MyDrive/Colab Notebooks/Moscow_contest/Спиридоновка ул. 2020 год.xlsx')
spir.head()

         Дата и время   CO    NO2     NO  ...    _V_  Давление  Влажность  Осадки
0                 NaT  5.0  0.200  0.400  ...    NaN       NaN        NaN     NaN
1 2020-01-01 00:00:00  0.2  0.024  0.001  ...  234.0     732.4       97.0     0.0
2 2020-01-01 00:20:00  0.2  0.024  0.001  ...    0.0     732.4       97.0     0.0
3 2020-01-01 00:40:00  0.2  0.024  0.001  ...  230.0     732.5       97.0     0.0
4 2020-01-01 01:00:00  0.1  0.024  0.001  ...  212.0     732.6       96.5     0.0

[5 rows x 13 columns]

In [ ]:
spir.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26353 entries, 0 to 26352
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Дата и время  26352 non-null  datetime64[ns]
 1   CO            26057 non-null  float64
 2   NO2           25950 non-null  float64
 3   NO            25950 non-null  float64
 4   PM10          23246 non-null  float64
 5   PM2.5         23023 non-null  float64
 6   Unnamed: 6    0 non-null      float64
 7   -T-           24176 non-null  float64
 8   | V |         24176 non-null  float64
 9   _V_           24176 non-null  float64
 10  Давление      24176 non-null  float64
 11  Влажность     24176 non-null  float64
 12  Осадки        24176 non-null  float64
dtypes: datetime64[ns](1), float64(12)
memory usage: 2.6 MB

In [ ]:
tur = pd.read_excel('/content/drive/MyDrive/Colab Notebooks/Moscow_contest/Туристская 2020 год.xlsx')
tur.head()

         Дата и время    CO    NO2     NO  ...    _V_  Давление  Влажность  Осадки
0                 NaT  5.00  0.200  0.400  ...    NaN       NaN        NaN     NaN
1 2020-01-01 00:00:00  0.01  0.017  0.004  ...  263.0     729.2       81.0     NaN
2 2020-01-01 00:20:00  0.01  0.017  0.003  ...    0.0     729.3       81.0     NaN
3 2020-01-01 00:40:00  0.00  0.017  0.003  ...  238.0     729.4       81.0     NaN
4 2020-01-01 01:00:00  0.00  0.017  0.003  ...  237.0     729.5       81.0     NaN

[5 rows x 13 columns]

In [ ]:
tur.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26353 entries, 0 to 26352
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Дата и время  26352 non-null  datetime64[ns]
 1   CO            23464 non-null  float64
 2   NO2           24653 non-null  float64
 3   NO            24675 non-null  float64
 4   PM10          11524 non-null  float64
 5   PM2.5         12322 non-null  float64
 6   Unnamed: 6    0 non-null      float64
 7   -T-           24579 non-null  float64
 8   | V |         24579 non-null  float64
 9   _V_           24579 non-null  float64
 10  Давление      24579 non-null  float64
 11  Влажность     24579 non-null  float64
 12  Осадки        13510 non-null  float64
dtypes: datetime64[ns](1), float64(12)
memory usage: 2.6 MB

In [ ]:
shab = pd.read_excel('/content/drive/MyDrive/Colab Notebooks/Moscow_contest/Шаболовка 2020.xlsx')
shab.head()

       Дата и время    CO     NO2     NO  ...  _V_  Давление  Влажность  Осадки
0               NaN  5.00  0.2000  0.400  ...  NaN       NaN        NaN     NaN
1  01/01/2020 00:00  0.21  0.0150  0.001  ...  0.0     732.6       91.0     0.0
2  01/01/2020 00:20  0.20  0.0126  0.001  ...  0.0     732.7       91.0     0.0
3  01/01/2020 00:40  0.19  0.0129  0.001  ...  0.0     732.8       91.0     0.0
4  01/01/2020 01:00  0.19  0.0129  0.001  ...  0.0     732.9       91.0     0.0

[5 rows x 11 columns]

In [ ]:
shab.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26354 entries, 0 to 26353
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Дата и время  26353 non-null  object
 1   CO            24371 non-null  float64
 2   NO2           25289 non-null  float64
 3   NO            25288 non-null  float64
 4   PM10          24753 non-null  float64
 5   -T-           25049 non-null  float64
 6   | V |         25051 non-null  float64
 7   _V_           25051 non-null  float64
 8   Давление      25051 non-null  float64
 9   Влажность     25051 non-null  float64
 10  Осадки        25051 non-null  float64
dtypes: float64(10), object(1)
memory usage: 2.2+ MB

In [ ]:
#drop first rows with maximum allowable concentration of each component
anoh = anoh.query('index != 0').reset_index(drop = True)
but = but.query('index != 0').reset_index(drop = True)
gleb = gleb.query('index != 0').reset_index(drop = True)
kopt = kopt.query('index != 0').reset_index(drop = True)
mar = mar.query('index != 0').reset_index(drop = True)
shab = shab.query('index != 0').reset_index(drop = True)
tur = tur.query('index != 0').reset_index(drop = True)
spir = spir.query('index != 0').reset_index(drop = True)
ost = ost.query('index != 0').reset_index(drop = True)
prol = prol.query('index != 0').reset_index(drop = True)

## Get a whole profilemer data into one dataset

In [ ]:
os.chdir("/content/drive/MyDrive/Colab Notebooks/Moscow_contest/Профилемер")

In [ ]:
filenames = [i for i in glob.glob("*.txt")]

In [ ]:
column_names = ['data_time', '0', '50', '100', '150', '200', '250', '300', '350', '400', '450', '500', '550', '600', 'OutsideTemperature', 'Quality']

In [ ]:
prof = pd.DataFrame()
for file in filenames:
    frame = pd.read_csv(file, skiprows = 19, sep='\t', names=column_names)
    prof = prof.append(frame)

prof = prof.set_index('data_time')

In [ ]:
# save profilemer data into file
prof.to_csv('profilemer.csv')

In [ ]:
prof = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Moscow_contest/profilemer.csv')

In [ ]:
prof.head()

             data_time     0    50  ...    600  OutsideTemperature  Quality
0            data time     0    50  ...    600  OutsideTemperature  Quality
1  01/01/2020 00:00:00  1,80  2,59  ...  -1,74                1,79        0
2  01/01/2020 00:05:00  1,79  2,59  ...  -1,65                1,77        0
3  01/01/2020 00:10:00  1,81  2,71  ...  -1,68                1,82        0
4  01/01/2020 00:15:00  1,81  2,67  ...  -1,77                1,81        0

[5 rows x 16 columns]

In [ ]:
#transform data to the same format
anoh['Дата и время'] = anoh['Дата и время'].map(lambda x: x+':00')
but['Дата и время'] = but['Дата и время'].map(lambda x: x+':00')
mar['Дата и время'] = mar['Дата и время'].map(lambda x: x+':00')
prol['Дата и время'] = prol['Дата и время'].map(lambda x: x+':00')
shab['Дата и время'] = shab['Дата и время'].map(lambda x: x+':00')
gleb['Дата и время'] = gleb['Дата и время'].dt.strftime("%d/%m/%y20 %H:%M:%S")
wind['Дата и время'] = wind['Дата и время'].dt.strftime("%d/%m/%y20 %H:%M:%S")
kopt['Дата и время'] = kopt['Дата и время'].dt.strftime("%d/%m/%y20 %H:%M:%S")
ost['Дата и время'] = ost['Дата и время'].dt.strftime("%d/%m/%y20 %H:%M:%S")
spir['Дата и время'] = spir['Дата и время'].dt.strftime("%d/%m/%y20 %H:%M:%S")
tur['Дата и время'] = tur['Дата и время'].dt.strftime("%d/%m/%y20 %H:%M:%S")

In [ ]:
#add profilemer data to datasets of stations
os.chdir("/content/drive/MyDrive/Colab Notebooks/Moscow_contest/")
datasets = [anoh, but, gleb, kopt, mar, ost, prol, spir, tur, shab]
datasets_name = ['anoh', 'but', 'gleb', 'kopt', 'mar', 'ost', 'prol', 'spir', 'tur', 'shab']
datasets_dict = dict(zip(datasets_name, datasets))

wind = wind.rename({'Дата и время': 'data_time'}, axis=1)
wind['data_time'] = wind['data_time'].astype(object)
wind = wind.set_index('data_time')

for name, data in datasets_dict.items():
  data = data.rename({'Дата и время': 'data_time'}, axis=1)
  data['data_time'] = data['data_time'].astype(object)
  data = data.merge(prof, on='data_time', how='left')
  data = data.merge(wind, on='data_time', how='left')
  print(data.shape)
  #save to files
  data.to_csv('{}.csv'. format(name))

(26353, 28)
(26353, 29)
(26352, 30)
(26352, 30)
(26353, 28)
(26352, 30)
(26353, 29)
(26352, 30)
(26352, 30)
(26353, 28)

# Conclusion:

Whole data saved as convinient dataframe csv files and ready for a further analisys.